@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


.header {
    background-color: #EBEBEB;
    .container {
        margin-left: 254px;
        padding: 0;
    }
    .row {
        font-family: 'New Rocker', cursive;
        font-size: 22.08px;
        margin: 0;
        padding: 15px 0 16px 0;
    }
}

.col-md-2 {
    align-self: center;
    padding: 0;
}

.offset-md-1 {
 margin-left: 161px;
}

.content {
    height: 3216px;
    background-image: url(images/monkeys.jpg);
}

.gradient_1 {
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.808) 15.63%, rgba(213, 213, 213, 0) 49.39%, rgba(0, 0, 0, 0.808) 85.42%); 
    height: inherit;
    width: 100%;
    mix-blend-mode: multiply;
}

.gradient_2 {
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(238, 103, 6, 0.43) 27.03%);
    height: 100%;
    width: 100%;
    mix-blend-mode: overlay;
}

.first-content {
    display: flex;
    justify-content: center;
    .meet {
        position: relative;
        padding-left: 42.64px;
        margin-top: 94px;
        background: linear-gradient(180deg, #FF910F 0%, #F2D227 69.27%);
        width: 365.63px;
        height: 93.81px;
        z-index: 0;
    }
    .meet2 {
        position:absolute;
        padding-left: 42.64px;
        width: 365.63px;
        height: 108px;
        background:#CE6111;
        z-index: 2;
        top: 0px;
        left: 6px;
        mix-blend-mode: overlay;
    >p {

        color: white;
    }

    }
    & p {
        font-family: 'New Rocker', cursive;
        font-size: 76.75px;
        line-height: 90.13px;
        margin: 0;
    }


}

.bored-ap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'New Rocker', cursive;
    margin-top: 24.19px;

    & p {
        color: white;
        font-size: 98.8402px;
        line-height: 116px;
    }
}

.new {
    display: flex;
    justify-content: right;
}

.new-nft {
    display: flex;
    position: relative;
    font-family: 'New Rocker', cursive;
    padding-right: 299px;
    & >p {
        font-size: 75.55px;
        line-height: 88.72px;
        color: white;
    }

    .drop_1 {
        position:absolute;
        left: 245px;
        top: -45px;
        transform: rotate(16.47deg);
        > p {
            font-size: 59.72px;
            line-height: 59.72px;
        }
    }

    .drop_2 {
        position: absolute;
        top: 0px;
        left: -4px;
    
        > p {
            font-size: 59.72px;
            line-height: 59.72px;
            color:#FF097F;
        }
    }
}

.content-block-wrapper {
    .container {
        margin: 0 auto;
        > hr {
            margin: 0;
            margin-top: 72px;
            color: #C4C4C4;
            height: 9px;
        }

    }
    .row-between {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 61px;
    > h1 {
        color: white;
        font-size: 45.04px;
        line-height: 52.89px;
        font-family: 'New Rocker', cursive;
    }
    }
    .swiper-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 197px;
        border: 6.55167px solid #F2D227;
        box-sizing: border-box;
    }
}

.swiper-wrapper {
    margin-left: 128px;
    .swiper-slide {
        width: 188.97px;
        height: 188.97px;
    }
}

.contact-us {
    position: relative;
    hr {
        margin:0;
        color: black;
        height: 9px;
    }

    .messages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(180deg, #F2D227 0%, #FF910F 100%);
        font-family: 'New Rocker', cursive;
    }

    .left {
        > p {
            font-size: 44px;
            line-height: 51.67px;
            margin-left: 7px;
        }
    }

    .right {
        > p {
            font-size: 33px;
            line-height: 38.75px;
            margin-right: 17px;
        }
    }
}



